.para1{
    color:rgb(255,82,0);
}
.para2
{
    color: red;
    font-size: 16x;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: bolder;
    text-decoration:wavy;
}